.back {
  border-radius: 10px;
  width: 8vw;
  height: 6vh;
  margin-right: 8vw;
}

.container {
  margin: 5vh 10vh;
}

table.gradeTable {
  margin-top: 5vh;
  table-layout: fixed;
  width: 100%;
}

tr {
  border-bottom: 1px solid grey;
  overflow: hidden;
  height: 8vh;
  white-space: nowrap;
}

th:last-child,
td:last-child {
  padding-left: 5vw;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outer {
  margin: 5vh 10vw;
}
