.review {
  width: 6vw;
  height: 5vh;
  font-size: 1em;
  /* margin-left: 2vw; */
}
.notAssed {
  width: 6vw;
  height: 5vh;
  font-size: 0.8em;
}

th:last-child,
td:last-child {
  padding-left: 5vw;
}
