.title {
    display:table;
    padding-top: 2%;
    width:100%;
    height: 15%;
    background-color: #D8D8D8;
}

.title span {
    display:table-cell;
    width: 33%;
    text-align: center;
    color:black;
}

.score {
    font: 25px black;
    font-weight: bolder;
}

.assTarget {
    font: 20px black;
}

.clock {
    font: 20px black;
}

#ip {
    padding-top: 2rem;
}

.assTarget {
    margin-left: 2rem;
}