.delete {
  background: #91b1d8;
  height: 6vh;
  width: 10vw;
  border-radius: 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  border: 2px solid #003f8a;
  margin-top: 5vh;
}

.left {
  flex: 30%;
  margin: 5vh 5vh;
}

.right {
  flex: 70%;
  margin: 2vh 5vh;
}

.outer {
  width: 90%;
}
