.viewBtn {
  border-radius: 15%;
}

tr {
  border-bottom: 1px solid grey;
  overflow: hidden;
  height: 8vh;
  white-space: nowrap;
}

tr td {
  width: 20%;
}

td:nth-child(5) {
  padding-left: 2vw;
}
