.infoCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2% ;
    background-color: #d8d8d8;
    padding: 20px;
    border: 2px solid #003F8A;
}

.title {
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

label {
    font-weight: bold;
}

.line {
    padding-top: 25px ;
    border: 10px solid transparent;
}

.info {
    margin-top: 10px;
    margin-left: 20px;
}