.List{
    display: block;
}
.Lists{
    display: none;
}
.Addst{
    display: block;
}
.Addsts{
    display: none;
}
.add{
    background:#003f8a;
    height: 57px;
    width: 171px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
    margin: 0 100px;
}
.import{
    background:#003f8a;
    height: 57px;
    width: 171px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
}
.back{
    margin-left: 100px;
    background:#91b1d8;
    height: 57px;
    width: 171px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
}
.delete{
    margin-left: 25vh;
    background:#003f8a;
    height: 57px;
    width: 171px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
}

ul,li{
    list-style: none;
}

.ull{
    margin-left: 5vh;
    display: flex;
    width: 1100px;
    height: 50px;
    /* border-bottom: 1px solid #cccccc; */
}


.ull li{
    line-height: 50px;
}

.submit{
    background:#003f8a;
    height: 57px;
    width: 171px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
    margin: 0 100px;
}
.cancel{
    background:#e70b16;
    height: 57px;
    width: 171px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
    margin: 0 100px;
}
.container{
    margin: 5vh 20vh;
}
.studentToolContaner{
    display: flex;
    margin-bottom: 5vh;
}
.groupToolContaner{
    display: flex;
    margin-bottom: 5vh;
    margin-left: 20vh;
}
.studentList{
    font-size: 40px;
    color: 003f8a;
    font-weight: bold;
}

.tabchangebox{padding: 0px .2rem;}
.tabchangebox ul{display:flex;border-bottom: 1px solid #eee;flex-direction: row;}
.tabchangebox  ul li{text-align: center}
.active{border-bottom: 2px solid #003f8a;color: #003f8a}
