.top {
  display: flex;
  justify-content: space-between;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
}

div.btnGroup button {
  width: 10vw;
  margin-top: 10vh;
  border-radius: 15px;
}

.outer {
  margin: 5vh 5vw;
}

.box {
  margin-top: 5vh;
  border: 1px solid gray;
  padding: 3% 5%;
}

h2 {
  color: #003f8a;
  font-weight: bolder;
}

h3 {
  margin-top: 2vh;
  color: gray;
}

div.box p {
  margin-top: 5vh;
  font-size: 1.5em;
  font-weight: bold;
}
