.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.btnGroup button {
  width: 10vw;
  height: 6vh;
}

/* .delete {
  margin-left: 25vh;
  background: #003f8a;
  height: 57px;
  width: 171px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 57px;
} */

ul,
li {
  list-style: none;
}

.ull {
  margin-left: 5vh;
  display: flex;
  width: 1100px;
  height: 50px;
  border-bottom: 1px solid #cccccc;
}

.ull li {
  line-height: 50px;
}

.submit {
  background: #003f8a;
  height: 57px;
  width: 171px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 57px;
  margin: 0 100px;
}
.cancel {
  background: #e70b16;
  height: 57px;
  width: 171px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 57px;
  margin: 0 100px;
}
.container {
  margin: 5vh 20vh;
}
.studentToolContaner {
  display: flex;
  margin-bottom: 5vh;
}
.studentList {
  font-size: 40px;
  color: 003f8a;
  font-weight: bold;
}

table.gradeTable {
  margin-top: 5vh;
  table-layout: fixed;
}
