.left_frame {
  background-color: #4074b2;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  margin-left: 50%;
  padding: 0px 10px;
  position: relative;
}

div.feature {
  position: absolute;
  left: 20px;
  top: 40%;
}

div.feature p {
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 2em;
}

.logo {
  display: block;
  height: 150px;
  width: 150px;
  position: absolute;
  left: 20px;
  top: 20px;
}

div.app_name {
  margin-top: 10%;
  margin-left: 40%;
  width: 50%;
  border-bottom: 1px solid #003f8a;
}

div.app_name p {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.login_form {
  padding: 20px;
  border: 1px solid gray;
  width: 80%;
  margin: 20vh auto;
}
