.sidenav {
  height: 100vh;
  background-image: url(../../assets/images/login-cover.jpg);
  overflow-x: hidden;
  width: 65%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.main {
  position: relative;
  margin-left: 65%;
  padding: 0px 10px;
}

.logo {
  display: block;
  height: 200px;
  width: 200px;
  margin: 5vh auto;
}

div.login_form {
  padding: 20px;
  border: 1px solid gray;
  width: 80%;
  margin: 20vh auto;
}
