.title {
    width: 100%;
    float: left;
    position: relative;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    position:absolute; 
    top:0; 
    right:0; 
}

.nInput {
    width: 60%;
}

.row {
    padding: 1%;
}

.box {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding:2%;
   
}

.comments>textarea {
    width: 100%;
}